*{
  padding: 0;
  margin: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
body{
  background-color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
}
.container{
  width: 70%;
  height: auto;
  margin: 0 auto;
}
header{
  background-color: #673AB7;
  color: #fff;
  width: 100%;
  height: 120px;
}
header .container{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: #fff;
  font-size: 24px;
}
menu{
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-a{
  color: #fff;
}
